* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #3F4B3B;
}

.green {
    background-color: #f6f6f6;
}

.turquoise {
    background-color: #C3DFE2;
    padding: 10px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, p, button, nav {
    margin: 20px auto;
}

.headerColor {
    color: #33374A;
    margin-bottom: 30px;
    margin-top: 50px;
}

.headerLines {
    width: 29%;
    height: 2px;
    vertical-align: center;
    color: black;
    border:2px solid black;
    background: black;
    margin-top: 67px;
}

.mainBody {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(211, 211, 211);
    border: 1px solid rgb(207, 207, 207);
    width: 85%;
    text-align: center;
    margin: 5px auto;
}

.resume {
    padding: 5px 12px;
    border: none;
    margin-top: 15px;
    background-color: #FE654F;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 0px solid;
}

.carousel-inner {
    height: 400px;
    object-fit: cover;
}

.my-caption {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.678);
    height: 400px;
    right: 50px;
    top: 0px;
    padding: 50px 20px;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.carousel-control-next, .carousel-control-prev {
    margin-top: 350px;
}

.imgTile {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	background-color: black;
    transition: .5s ease;
}

.imageSqrTile {
    opacity: 1;
    display: block;
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden;
    width: 200px;
    height: 200px;
}

.imgTile:hover {
    transform: scale(1.1);
}

.flex {
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.carousel {
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.width65 {
    width: 65%;
}

.width29 {
    width: 29%;
}

.skills {
    columns: 5;
    list-style-type: none;
}

#mySearch {
    padding: 5px;
}

.margin20 {
    margin-bottom: 20px;
}

.mainHeading {
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

.mainName {
    font-size: 4em;
    font-family: 'Jost', sans-serif;
}

.greenBackground {
    background-color: #003243;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.greenBackground a {
    color: white;
    text-decoration: none;
}

.navMargin {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: #FE654F;
}

.margin50 {
    margin-bottom: 50px;
}

.rightHeading {
    text-align: center;
    width: 40%;
}

.flexEnd {
    align-items:flex-end;
}

.center {
    align-items: center;
}

.carouselSmallImg {
    height: 400px;
    margin: auto;
}

.aboutMe {
    font-size: large;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}